<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <h2>Connexion</h2>
    <form method="POST" action="{% url 'AuthGateway:login_view' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="type" value="{{ request.GET.type }}">
        <button type="submit">Se connecter</button>
    </form>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
