<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Étudiant</title>
</head>
<body>
    <h2>Bienvenue sur votre profil, {{ user.nom }} {{ user.prenom }}</h2>

    <!-- Contenu du profil étudiant -->

    <!-- Formulaire de déconnexion -->
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Déconnexion</button>
    </form>

</body>
</html>
